* {
    margin: 0;
}

.content {
    margin-top: 3%;
}

.wrapper {
    width: 80%;
    margin: auto;
}

header img {
    width: 300px;
    float: right;
}

header h1 {
    color: #fff;
    margin-left: 33%;
    padding: 10px;
}

nav {
    clear: both;
}

nav ul {
    margin-top: 10%;
}

.nav-li {
    padding-top: 30%;
}

.nav-h3 {
    color: hotpink;
}

section {
    margin-top: 2%;
}

section h3 {
    margin-top: 15px;
}

section p {
    padding: 15px;
}

section ul {
    margin-top: 10px;
}

footer {
    margin: 3%;
    text-align: center;
}

.paragraf {
    font-size: 1.2rem;
}

#huruf {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.warna {
    background: whitesmoke;
}

.warna-2 {
    background-color: palevioletred;
}

.form { 
    background: whitesmoke;
}

.bentuk {
    font-style: italic;
}

.huruf-tebal {
    font-style: initial;
}

a {
    text-decoration: none;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    background: lightsalmon;
    list-style: none;
    margin: 0;
    padding-left: 1.2rem;
}

ul li {
    color: #fff;
    background: lightsalmon;
    display: inline-block;
    border: 1px;
    padding: 10px;
    position: relative;
    text-decoration: none;
}

ul li a {
    color: #fff;
}

ul li:hover {
    background: lightcoral;
    cursor: pointer;
}

ul li ul {
    background: crimson;
    visibility: hidden;
    position: absolute;
    margin-top: 0.5rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

@media only screen and (max-width: 700px){
    body {
        background: floralwhite;
        font-family: 'Courier New', Courier, monospace;
    }
}